footer {
    margin: 0px 250px;
}


.contacts {
    text-align: center;
    margin-top: 127px;
    margin-bottom: 83px;
    p:nth-of-type(1) {
        font-size: 34px;
        font-weight: bold;
    }

    p:nth-of-type(2) {
        font-size: 18px;
        margin: 0px;
    }

    p:nth-of-type(3) {
        font-size: 18px;
        margin: 0px;
    }

    div {
        border-radius: 30px;
        width: 180px;
        height: 42px;
        margin: auto;
        line-height: 42px;
        margin-top: 38px;
        background-color: black;
        color: white;
        font-weight: bold;
    }
}

.icon-social {
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
    
    img {
        margin: 0px 31px;
    }
}

.notes {
    text-align: center;
    margin-bottom: 123px;
    p {
        margin: 0px;
        color: #828282;
        font-size: 14px;
    }
}

@media (max-width: 1160px) {
    footer {
        margin: 0px 30px;
    }
    .contacts {
    }
    .icon-social {
        img {
            margin: auto;
        }
    }
    .notes {
    }
}