header { 
    margin: 0px 250px;

    ul {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #828282;
        padding: 0;
    }

    li {
        margin: auto;
        margin-top: 33px;
        margin-bottom: 41px;
        list-style-type: none;

        a {
            font-weight: bold;
            color: #828282;
            text-decoration: none;

            &:hover {
                color: black;
            }
        }
    }

    li:first-child {
        margin-left: 0;
    }

    li:last-child {
        margin-right: 0;
    }
}

@media (max-width: 1160px) {

    header {
        display: none;
    }
}