.portfolio {
    background-color: #F6F6F6;
    // height: 100%;
}

.portfolio__headline {
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 64px;
}

.landing-work {
    text-align: center;
}

.headline-portfolio {
    font-weight: 18px;
    text-decoration: underline;
    margin-top: 45px;
    margin-bottom: 100px;
}

.special-one {
    margin-bottom: 0px;
    height: 120px;
}

@media (max-width: 1160px) {
    .img-portfolio {
        img {
            width: 295px;
            height: 150px;
        }
    }
}