@import 'header.scss';
@import 'open-section.scss';
@import 'about-me.scss';
@import 'skills.scss';
@import 'portfolio.scss';
@import 'footer.scss';

@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy-Medium.ttf');
}

.page {
    margin: 0;
    padding: 0;
}

body {
    font-family: Gilroy;
}