.about-me {
  padding: 100px 0px;
  background-color: #F6F6F6; }

.about-me__main {
  margin: auto;
  text-align: center;
  width: 480px; }

.about-me__main-headline {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 32px; }

.about-me__main-basic div {
  font-size: 18px; }

.about-me__main-basic div:nth-of-type(2) {
  margin: 50px 0px; }

@media (max-width: 1160px) {
  .about-me {
    padding: 80px 30px; }
  .about-me__main {
    width: 100%; } }

/*# sourceMappingURL=about-me.css.map */
