header {
  margin: 0px 250px; }
  header ul {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #828282;
    padding: 0; }
  header li {
    margin: auto;
    margin-top: 33px;
    margin-bottom: 41px;
    list-style-type: none; }
    header li a {
      font-weight: bold;
      color: #828282;
      text-decoration: none; }
      header li a:hover {
        color: black; }
  header li:first-child {
    margin-left: 0; }
  header li:last-child {
    margin-right: 0; }

@media (max-width: 1160px) {
  header {
    display: none; } }

/*# sourceMappingURL=header.css.map */
