.open-section {
  margin: 0px 250px;
  margin-bottom: 100px; }

.open-section__inform-block {
  display: flex;
  margin-bottom: 35px; }

.open-name {
  font-size: 48px;
  font-weight: bold;
  width: 125px; }

.open-inform {
  margin: auto;
  width: 150px; }
  .open-inform p {
    margin: 0px; }

.open-language {
  position: relative;
  width: 125px; }
  .open-language div {
    transform: rotate(-90deg);
    position: absolute;
    right: 0;
    bottom: 50px; }

.open-language-mobile {
  display: none; }

.menu-burger-mobile {
  display: none; }

.open-menu-mobile {
  display: none; }

.open-section__photo-block {
  text-align: center;
  background-image: url("../img/open-photo.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .open-section__photo-block img {
    opacity: 0; }

@media (max-width: 1160px) {
  .open-section {
    margin: 65px 25px 80px 25px;
    position: relative; }
  .open-section__inform-block {
    position: relative;
    flex-wrap: wrap; }
  .open-name {
    font-size: 46px; }
  .open-inform {
    margin: 0px;
    margin-top: 30px;
    width: 210px; }
  .open-language {
    display: none; }
  .menu-burger-mobile {
    position: absolute;
    top: 10px;
    right: 0px;
    display: block;
    width: 30px;
    height: 20px; }
    .menu-burger-mobile span {
      width: 30px;
      height: 4px;
      display: block;
      margin-bottom: 4px;
      background: black; }
  .open-menu-mobile {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white; }
  .list-menu a {
    font-size: 34px;
    font-weight: bold;
    color: #828282;
    text-decoration: none; }
  .list-menu ul {
    padding: 0;
    margin: 0; }
    .list-menu ul li {
      list-style-type: none;
      margin-bottom: 65px; }
  .croos-close-menu {
    position: absolute;
    top: 6px;
    right: 0; }
  .open-menu-mobile-show {
    display: block; }
  .open-menu-mobile-hide {
    display: none; }
  .open-language-mobile {
    height: 100px;
    width: 100px;
    display: block;
    width: 125px; }
    .open-language-mobile div {
      height: 200px;
      font-size: 24px;
      font-weight: bold;
      color: #828282;
      height: 100px;
      transform: rotate(90deg);
      position: absolute;
      right: 0px;
      bottom: 50px; }
  .open-section__photo-block {
    background-image: url("../img/open-photo-mobile.png"); }
    .open-section__photo-block img {
      width: 290px;
      height: 400px; } }

/*# sourceMappingURL=open-section.css.map */
