.skills {
  text-align: center;
  margin: 0px 250px;
  margin-bottom: 100px; }

.skills__headline {
  font-size: 34px;
  font-weight: bold;
  margin: 90px 0px 60px 0px; }

.skills__inform {
  font-size: 18px;
  margin-bottom: 90px; }

.skills__programs {
  display: flex; }

.skills__programs-program {
  margin: auto; }

.skill-name {
  color: #828282;
  font-weight: bold;
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 40px; }

@media (max-width: 1160px) {
  .skills {
    margin: 100px 50px; }
  .skills__programs {
    flex-wrap: wrap; }
  .skills__programs-program {
    margin: 40px auto; } }

/*# sourceMappingURL=skills.css.map */
