header {
  margin: 0px 250px; }
  header ul {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #828282;
    padding: 0; }
  header li {
    margin: auto;
    margin-top: 33px;
    margin-bottom: 41px;
    list-style-type: none; }
    header li a {
      font-weight: bold;
      color: #828282;
      text-decoration: none; }
      header li a:hover {
        color: black; }
  header li:first-child {
    margin-left: 0; }
  header li:last-child {
    margin-right: 0; }

@media (max-width: 1160px) {
  header {
    display: none; } }

.open-section {
  margin: 0px 250px;
  margin-bottom: 100px; }

.open-section__inform-block {
  display: flex;
  margin-bottom: 35px; }

.open-name {
  font-size: 48px;
  font-weight: bold;
  width: 125px; }

.open-inform {
  margin: auto;
  width: 150px; }
  .open-inform p {
    margin: 0px; }

.open-language {
  position: relative;
  width: 125px; }
  .open-language div {
    transform: rotate(-90deg);
    position: absolute;
    right: 0;
    bottom: 50px; }

.open-language-mobile {
  display: none; }

.menu-burger-mobile {
  display: none; }

.open-menu-mobile {
  display: none; }

.open-section__photo-block {
  text-align: center;
  background-image: url("../img/open-photo.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .open-section__photo-block img {
    opacity: 0; }

@media (max-width: 1160px) {
  .open-section {
    margin: 65px 25px 80px 25px;
    position: relative; }
  .open-section__inform-block {
    position: relative;
    flex-wrap: wrap; }
  .open-name {
    font-size: 46px; }
  .open-inform {
    margin: 0px;
    margin-top: 30px;
    width: 210px; }
  .open-language {
    display: none; }
  .menu-burger-mobile {
    position: absolute;
    top: 10px;
    right: 0px;
    display: block;
    width: 30px;
    height: 20px; }
    .menu-burger-mobile span {
      width: 30px;
      height: 4px;
      display: block;
      margin-bottom: 4px;
      background: black; }
  .open-menu-mobile {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white; }
  .list-menu a {
    font-size: 34px;
    font-weight: bold;
    color: #828282;
    text-decoration: none; }
  .list-menu ul {
    padding: 0;
    margin: 0; }
    .list-menu ul li {
      list-style-type: none;
      margin-bottom: 65px; }
  .croos-close-menu {
    position: absolute;
    top: 6px;
    right: 0; }
  .open-menu-mobile-show {
    display: block; }
  .open-menu-mobile-hide {
    display: none; }
  .open-language-mobile {
    height: 100px;
    width: 100px;
    display: block;
    width: 125px; }
    .open-language-mobile div {
      height: 200px;
      font-size: 24px;
      font-weight: bold;
      color: #828282;
      height: 100px;
      transform: rotate(90deg);
      position: absolute;
      right: 0px;
      bottom: 50px; }
  .open-section__photo-block {
    background-image: url("../img/open-photo-mobile.png"); }
    .open-section__photo-block img {
      width: 290px;
      height: 400px; } }

.about-me {
  padding: 100px 0px;
  background-color: #F6F6F6; }

.about-me__main {
  margin: auto;
  text-align: center;
  width: 480px; }

.about-me__main-headline {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 32px; }

.about-me__main-basic div {
  font-size: 18px; }

.about-me__main-basic div:nth-of-type(2) {
  margin: 50px 0px; }

@media (max-width: 1160px) {
  .about-me {
    padding: 80px 30px; }
  .about-me__main {
    width: 100%; } }

.skills {
  text-align: center;
  margin: 0px 250px;
  margin-bottom: 100px; }

.skills__headline {
  font-size: 34px;
  font-weight: bold;
  margin: 90px 0px 60px 0px; }

.skills__inform {
  font-size: 18px;
  margin-bottom: 90px; }

.skills__programs {
  display: flex; }

.skills__programs-program {
  margin: auto; }

.skill-name {
  color: #828282;
  font-weight: bold;
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 40px; }

@media (max-width: 1160px) {
  .skills {
    margin: 100px 50px; }
  .skills__programs {
    flex-wrap: wrap; }
  .skills__programs-program {
    margin: 40px auto; } }

.portfolio {
  background-color: #F6F6F6; }

.portfolio__headline {
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 64px; }

.landing-work {
  text-align: center; }

.headline-portfolio {
  font-weight: 18px;
  text-decoration: underline;
  margin-top: 45px;
  margin-bottom: 100px; }

.special-one {
  margin-bottom: 0px;
  height: 120px; }

@media (max-width: 1160px) {
  .img-portfolio img {
    width: 295px;
    height: 150px; } }

footer {
  margin: 0px 250px; }

.contacts {
  text-align: center;
  margin-top: 127px;
  margin-bottom: 83px; }
  .contacts p:nth-of-type(1) {
    font-size: 34px;
    font-weight: bold; }
  .contacts p:nth-of-type(2) {
    font-size: 18px;
    margin: 0px; }
  .contacts p:nth-of-type(3) {
    font-size: 18px;
    margin: 0px; }
  .contacts div {
    border-radius: 30px;
    width: 180px;
    height: 42px;
    margin: auto;
    line-height: 42px;
    margin-top: 38px;
    background-color: black;
    color: white;
    font-weight: bold; }

.icon-social {
  display: flex;
  justify-content: center;
  margin-bottom: 46px; }
  .icon-social img {
    margin: 0px 31px; }

.notes {
  text-align: center;
  margin-bottom: 123px; }
  .notes p {
    margin: 0px;
    color: #828282;
    font-size: 14px; }

@media (max-width: 1160px) {
  footer {
    margin: 0px 30px; }
  .icon-social img {
    margin: auto; } }

@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Medium.ttf"); }

.page {
  margin: 0;
  padding: 0; }

body {
  font-family: Gilroy; }

/*# sourceMappingURL=style.css.map */
